/* Center body content */
body {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center vertically */
    align-items: center;
    /* Center horizontally */
    height: 100vh;
    /* Full viewport height */
}

/* Main container settings */
.main-div {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center content vertically */
    align-items: center;
    /* Center content horizontally */
    width: 100%;
    /* Take full width of the screen */
    height: 100%;
}

/* Inner content box styling */
.content-div {
    background-color: #ebf6f7;
    height: 70vh;
    /* 70% of the viewport height */
    width: 80vw;
    /* 80% of the viewport width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center content vertically */
    align-items: center;
    /* Center content horizontally */
    border-radius: 10px;
}

/* Input styling */
.input {
    height: 30px;
    width: 40vw;
    border-radius: 5px;
    border: 1px solid grey;
    /* Add visible border */
}

/* Button container styling */
.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Action button styling */
.action-button {
    height: 30px;
    width: 10vw;
    border-radius: 10px;
    background-color: white;
    margin-top: 10px;
    /* Add some space between inputs and buttons */
}

.error {
    color: red;
}

.success {
    color: green;
    font-weight: bold;
}

ul {
    list-style-type: none;
    /* Removes bullet points */
    padding: 0;
    /* Removes padding */
}

li {
    margin: 5px 0;
    /* Adds space between items */
    border: 1px solid #ccc;
    /* Adds border */
    padding: 10px;
    /* Adds padding */
    border-radius: 5px;
    /* Rounds corners */
}