body {margin:0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
overflow-x: hidden;}

.navbar {
  list-style-type: none;
  margin: 0;
  padding:10px 20px;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.navbar > li {
  float: left;
}

.navbar > li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  margin: 10px 16px;
  text-decoration: none;
}

.navbar > li a:hover:not(.active) {
  color: #0db4f3;

  border-bottom:2px solid #0db4f3;
}

.active {
  color: #0db4f3;
  border-bottom:2px solid #0db4f3;
}
.container{
  margin:0px 10%;
}
.row{
  display: flex;
}
.col{
  width: 50%;
  padding: 20px;
}
.bg-light{
  background-color: whitesmoke;
}
.text-center{ text-align: center;}
.btn-theme{ 
background-color: #0db4f3;
border: 1px solid gray;
font-size: 16px;
padding: 10px;
cursor: pointer;
}
.btn-theme:hover{ 
background-color: #05a4c8;
font-size: 16px;
padding: 10px;
cursor: pointer;
}

.badge{ padding: 5px;
border-radius: 10px;
color: #05a4c8;
background-color: #333;
float: left;
}
.price{
font-size: 18px;
font-weight: bold;
}
.home-banner{
  padding: 10rem 0px;
   background-image:url('../images/excursion (3).jfif');
    background-size: cover; background-position: center;
}
.more-link{
  float: right; text-decoration: none; font-size: 16px; color: #05a4c8;
}
.property{
width: 27%;
border: 1px solid lightgray;
background-color:  whitesmoke;
margin: 10px;
}
.property >img{
height: 250px;
object-fit: cover;
}

footer{
background-color: #333;
color: white;
padding: 3rem 0px;
}
.footer-links{
color: white;
text-decoration: none;
}
.footer-links:hover{
color: #05a4c8;
}
.social-links{
font-size: 28px;
margin: 0px 10px;
color: white;
text-decoration: none;
}
.social-links:hover{
color: #05a4c8;
}
.fa-star{
color: #05a4c8;
}
.login-form{
  margin-top:8rem;
}
.excursion-banner{
  padding: 10rem 0px; background-image:url('../images/excursion (2).jfif'); 
  background-size: cover;
  background-position: center;
}
.detail-img{
width: 100%;
height: 400px;
object-fit: cover;
}
#book-button{
  color:black;
  margin-top:5rem;
  text-decoration: none;
}
.my-bookings{
  margin-top:8rem;
  padding:20px;
}
table, tr{
width: 100%;
}
table, tr, th,td{
  padding: 10px;
  border: 1px solid lightgray;
  border-collapse: collapse;
}

.form-input{
display: block;
margin: 5px 0px 15px 0px;
width: 90%;
font-size: 16px;
padding: 10px;
}
.contact-info{
margin: 10px;
border: 1px solid gray;
}
.icon{
font-size: 28px;
color: #05a4c8;
}

.mySlides {display: none}
.mySlides > img {vertical-align: middle; height: 550px; object-fit: cover;}

/* Slideshow container */
.slideshow-container {
max-width: 100%;
margin-top:5rem ;
position: relative;
}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -22px;
color: white;
background-color: rgba(0,0,0,0.5);

font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.caption {
color: #f2f2f2;
top: 15rem;
font-size: 45px;
font-weight: bold;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

/* Fading animation */
.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 780px) {
.prev, .next,.text {font-size: 11px}
.row{ display: block;}
.col{ width: 85%;}
.container{margin: 0px;}
.logo{ width:20%}
.captioon{ width: 85%;}
}
.about-hd{
  margin-top: 5rem;
}

.team{
text-align: center;
border: 1px solid gray;
margin: 10px;
}